<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/simple.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a href="/welcome" class="btn btn-dark my-3">Back</a>

                
                <div class="col">
                    <a href="{{ upload.file.url }}">
                        <img src ="{{ upload.file.url }}" alt="Card image cap" width="400px" height="400px">
                    </a>
                </div>
                <h2>Created on: </h2>
                <p>{{upload.created_at}}</p>
            </div>
        </div>
    </div>
</body>
</html>