<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <h1> Edit Profile : {{ user.f_name }} </h1>
    <h3>First Name: {{user.f_name}}</h3>
    <h3>Last name: {{ user.l_name }}</h3>
    <h3>Email: {{ user.email }}</h3></hr>
    <form action="/edit/{{ user.id }}/update" method="post">
    {% csrf_token %}
        
        <label type="f_name">First name</label>
        <input type="text" name="f_name" id="f_name" value="{{ user.f_name }}">

        <label type="l_name">Last name</label>
        <input type="text" name="l_name" id ="l_name" value="{{ user.l_name }}">

        <label type="email">Email</label>
        <input type="email" name="email" id="email" value="{{ user.email }}">

        <button type="submit">Submit</button>

    </form>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a href="/welcome" class="btn btn-dark my-3">Back</a>
            </div>
        </div>
    </div>
</body>
</html>