body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
    border: 0;
}
.container{
    text-align: center;
}
.content {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
body{
    background-color: burlywood;
    background-repeat: no-repeat;

    /* text-align: center; */
}
#video{
    position:fixed;
    right:0;
    bottom:0;
    min-width: 100%; 
    min-height: 100%;
}
.wrapper{
    background-color: cadetblue;
}
.dropdown-menu{
    width: 300px;
}
.dropdown-content{
    display:none;
    background-color:grey;
}
.dropdown-content a {
    color:blue;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: blueviolet;
}
.dropdown:hover .dropdown-content {
    display:block;
}
.dropdown:hover .dropbtn {
    background-color: darkmagenta;
}
.error{
    color: red;
}
.image{
    color: blueviolet;
    border: 2px solid black;
}